emoji
pyDes
pypinyin
lxml
py7zr
rarfile
Flask
cn2an
cacheout
tenacity
aiofiles
httpx
aiohttp==3.8.3
pymediainfo==6.0.1
pytest
requests
aria2p
bencoder
qbittorrent-api
transmission-rpc
movie-bot-api
PlexAPI